{% extends 'base.html' %}
{% block title %} | Dashboard {% endblock %}

{% block content %}
{% load humanize %}
<!-- ======= Intro Single ======= -->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        {% include 'includes/messages.html' %}
        <div class="title-single-box">
          <h1 class="title-single">Welcome <span class="color-b">{{user.first_name}}</span></h1>
          <span class="color-text-a">Assets that you have inquired about</span>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'home' %}">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              {{user.first_name}}
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- ======= Property Grid ======= -->

<!--   Dashboard Start   -->
{% if inquiries %}

<div class="container mt-50 mb-50">

	<table class="table table-hover">
	  <thead>
		<tr>
		  <th scope="col">No.</th>
		  <th scope="col">Asset Name</th>
		  <th scope="col">Location</th>
		  <th scope="col">Email</th>
		  <th scope="col">Action</th>
		</tr>
	  </thead>
	  <tbody>
      {% for inquiry in inquiries %}
    <tr>
		  <th scope="row">1</th>
		  <td>{{inquiry.asset_title}}</td>
		  <td>{{inquiry.city}}</td>
		  <td>{{inquiry.email}}</td>
		  <td><a href="{% url 'asset_details' inquiry.asset_id %}" class="btn btn-outline-dark">View House</a></td>
		</tr>
    {% endfor %}
	  </tbody>
	</table>
</div>
{% else %}
<div class="container mt-50 mb-50">

  <h1 style="color:red;">You have no inquiries </h1>

</div>
{% endif %}



{% endblock %}
